@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Book'), local('Stolzl-Book'),
        url('../fonts/Stolzl-Book.woff2') format('woff2'),
        url('../fonts/Stolzl-Book.woff') format('woff'),
        url('../fonts/Stolzl-Book.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Regular'), local('Stolzl-Regular'),
        url('../fonts/Stolzl-Regular.woff2') format('woff2'),
        url('../fonts/Stolzl-Regular.woff') format('woff'),
        url('../fonts/Stolzl-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Medium'), local('Stolzl-Medium'),
        url('../fonts/Stolzl-Medium.woff2') format('woff2'),
        url('../fonts/Stolzl-Medium.woff') format('woff'),
        url('../fonts/Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
	font-family: 'Inter';
	src: local('Inter Semi Bold'), local('Inter-Semi-Bold'),
		url('../fonts/Inter-SemiBold.woff2') format('woff2'),
		url('../fonts/Inter-SemiBold.woff') format('woff'),
		url('../fonts/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
    font-display: swap;
}